Repository krudi/vitepress-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css, npm run lint:files, npm run lint:markdown

fix: update lint-staged configuration file
  .lintstagedrc.yml
  package.json
Due: npm run lint:files

feat: add module type to the package.json
  package.json
Due: none

feat: update required Node.js version
  package.json
Due: none

feat: add auto-merge option for Renovate bot
  renovate.json
Due: none

fix: remove dependabot.yml from workflow
  .github/dependabot.yml
Due: npm run lint:files

fix: install and add configuration files of commitlint
  .commitlintrc.yml
  .husky/commit-msg
  package-lock.json
  package.json
Due: npm run lint:files

fix: not working auto updating of dependencies
  renovate.json
Due: none

fix: change update time in Renovate config
  renovate.json
Due: none

fix: update schedule in renovate.json file
  renovate.json
Due: none

fix: remove cspell from the workflow
  .cspell.json
  .github/workflows/cspell.yml
Due: npm run lint:files

fix: remove CodeQL workflow
  .github/workflows/codeql.yml
Due: npm run lint:files

feat: add Dependabot to auto update dependencies
  .github/dependabot.yml
Due: npm run lint:files

feat: add Dependabot to auto update dependencies
  renovate.json
Due: none

feat: update GitHub workflow and add cache for node_modules dependencies
  .github/workflows/build-node.yml
Due: npm run lint:files

fix: skip jobs workflow for dependabot branch
  .github/workflows/build-node.yml
Due: npm run lint:files

docs: improve documentation and typography
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Due: npm run lint:files, npm run lint:markdown

feat: add recommended extensions for code-editor settings
  .vscode/extensions.json
Due: none

feat: add grouped pull requests for dependabot
  .github/dependabot.yml
Due: npm run lint:files

feat: update Node.js in GitHub workflow to version v20
  .github/workflows/build-node.yml
Due: npm run lint:files

feat: update Node.js configuration
  .npmrc
  .nvmrc
  package.json
Due: none

fix: update failing GitHub workflow
  .github/workflows/build-node.yml
  package-lock.json
Due: npm run lint:files

feat: update manually NPM packages
  package-lock.json
  package.json
Due: none

feat: update configuration file for VitePress
  .gitignore
  docs/.vitepress/config.ts
Due: npm run lint:js

feat: add multi-languages option for the documentation
  .env-example
  .eslintignore
  .gitignore
  .lintstagedrc.yml
  .markdownlint.yml
  docs/.vitepress/config.ts
  docs/.vitepress/locales/de.ts
  docs/.vitepress/locales/en.ts
  docs/.vitepress/nav.ts
  docs/.vitepress/settings.ts
  docs/.vitepress/shared.ts
  docs/.vitepress/sidebar.ts
  docs/de/guide/markdown-examples.md
  docs/de/index.md
  docs/en/guide/markdown-examples.md
  docs/en/index.md
  docs/guide/markdown-examples.md
  package-lock.json
  package.json
Due: npm run lint:js, npm run lint:files, npm run lint:markdown

build: update GitHub actions/cache workflow to latest version"
  .github/workflows/build-node.yml
Due: npm run lint:files

build: remove pre-commit lint checks
  .commitlintrc.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: npm run lint:files

feat: update formatting in .editorconfig file
  .editorconfig
Due: none

fix: rename Vite deprecated configuration file
  vite.config.mjs
Due: none

feat: add more information for the web-manifest
  docs/public/manifest.webmanifest
  docs/public/manifest/desktop-home-screen-view.webp
  docs/public/manifest/mobile-home-screen-view.webp
Due: none

feat: update code linters
  .prettierrc.yml
Due: npm run lint:files

fix: improve information README about packages
  README.md
Due: npm run lint:markdown

fix: add missing charset meta link
  docs/.vitepress/shared.ts
Due: npm run lint:js

feat: update Vite configuration
  vite.config.mjs
Due: none

feat: update packages
  package-lock.json
  package.json
Due: none

perf: change cache process of the NPM packages
  .github/workflows/build-node.yml
Due: npm run lint:files

fix: update outdated transformPageData hook usage
  docs/.vitepress/shared.ts
Due: npm run lint:js

fix: remove start page and add default redirects
  docs/index.md
  docs/public/_redirects
Due: npm run lint:markdown

fix: update docs structure and remove the docs folder from outDir path
  .eslintignore
  .gitignore
  .vitepress/config.ts
  .vitepress/locales/de.ts
  .vitepress/locales/en.ts
  .vitepress/shared.ts
  de/guide/markdown-examples.md
  de/index.md
  docs/public/_redirects
  guide/markdown-examples.md
  index.md
  package.json
  public/_headers
  public/favicons/vite-144x144.svg
  public/favicons/vite-16x16.svg
  public/favicons/vite-192x192.svg
  public/favicons/vite-32x32.svg
  public/favicons/vite-48x48.svg
  public/favicons/vite-512x512.svg
  public/favicons/vite-apple-touch.svg
  public/favicons/vite-favicon.svg
  public/fonts/.gitkeep
  public/images/meta-tags/general/logo.svg
  public/images/meta-tags/page-view.webp
  public/manifest.webmanifest
  public/manifest/desktop-home-screen-view.webp
  public/manifest/mobile-home-screen-view.webp
  public/robots.txt
Due: npm run lint:js, npm run lint:markdown

Path conditions:
  npm run lint:js: any of: *.{js,ts,jsx,tsx}
  npm run lint:css: any of: *.{css,scss}
  npm run lint:files: any of: *.{html,graphql,yml,yaml,vue}
  npm run lint:markdown: any of: *.md
