Repository krudi/vitepress-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:files, npm run lint:markdown

fix: reorganize issue templates and GitHub workflows
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/dependabot.yaml
  .github/workflows/build-frontend.yaml
  .github/workflows/prepare-docs-lint.yaml
Due: npm run lint:files

fix: reorganize configuration files for linting and deployment
  .markdownlint.yaml
  package.json
  prettier.config.ts
  vite.config.ts
  ‎eslint.config.ts
Due: npm run lint:js, npm run lint:files

feat: add patch update types for various dependency groups in dependabot configuration
  .github/dependabot.yaml
Due: npm run lint:files

refactor: remove redundant XML file extensions from lint scripts
  package.json
Due: none

build(deps): install jiti package for better TypeScript support
  package-lock.json
  package.json
Due: none

chore(workflows): improve linting workflow and replace old prepare-code-lint
  .github/workflows/build-frontend.yaml
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .github/workflows/prepare-docs-lint.yaml
Due: npm run lint:files

chore(nvm): add .nvmrc file to specify Node.js version
  .nvmrc
Due: none

chore(deps): manually update package.json and package-lock.json to latest versions
  package-lock.json
  package.json
Due: none

chore(vscode): add tasks.json and refine settings for vite project development
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

chore(vscode): add shared settings and update extensions configuration
  .gitignore
  .prettierignore
  eslint.config.mjs
  prettier.config.mjs
  prettier.config.ts
  tsconfig.json
  vite.config.mjs
  ‎eslint.config.ts
Due: npm run lint:js

docs(readme): improve Node.js installation instructions
  README.md
Due: npm run lint:markdown

chore(deps): remove groups to update all dependencies individually
  .github/dependabot.yaml
Due: npm run lint:files

chore(env): add example environment configuration file
  .env-example
Due: none

chore(config): add explicit path import for clarity
  vite.config.mjs
Due: none

chore(lint): run eslint autofix to clean up code style
  docs/.vitepress/locales/de.ts
  docs/.vitepress/locales/en.ts
  docs/.vitepress/meta-tags.ts
  docs/.vitepress/shared.ts
Due: npm run lint:js

feat: add .gitattributes file for consistent Git behavior
  .gitattributes
Due: none

build(deps): manually update all dependencies
  package-lock.json
  package.json
Due: none

fix(tsconfig): remove redundant baseUrl setting
  tsconfig.json
Due: none

refactor(config): combine path imports in Vite
  vite.config.mjs
Due: none

fix(workflow): simplify build job by removing Node version matrix
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
Due: npm run lint:files

fix(gitignore): update paths to match new .cache directory structure
  .gitignore
Due: none

style: update .prettierignore to include Markdown files
  .prettierignore
Due: none

refactor: unify and modernize ignore rules across workspace
  .gitignore
  .prettierignore
Due: none

fix: correct version field in package.json
  package.json
Due: none

style: update .editorconfig for improved formatting rules
  .editorconfig
Due: none

style: improve .gitignore and .prettierignore formatting for clarity
  .gitignore
  .prettierignore
Due: none

style(markdown): increase max_line_length from 80 to 120
  .editorconfig
Due: none

feat(vscode): refine editor settings and extend extension recommendations
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat(prettier): add lint and fix scripts with caching
  package.json
Due: none

refactor: remove markdownlint configuration and related references
  .github/workflows/lint.yaml
  .markdownlint.yaml
  .vscode/extensions.json
  README.md
  package-lock.json
  package.json
Due: npm run lint:files, npm run lint:markdown

style(prettier): apply formatting fixes
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/dependabot.yaml
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .vscode/tasks.json
  docs/.vitepress/locales/de.ts
  docs/.vitepress/locales/en.ts
  docs/.vitepress/meta-tags.ts
  docs/de/index.md
  docs/index.md
  prettier.config.mjs
Due: npm run lint:js, npm run lint:files, npm run lint:markdown

refactor: replace inline workflow steps with reusable actions
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
Due: npm run lint:files

docs: refine README note formatting in quick start section
  README.md
Due: npm run lint:markdown

feat: add clean script to remove cache and node_modules for easier setup
  package.json
Due: none

refactor: .gitignore and .prettierignore for improved organization and clarity
  .gitignore
  .prettierignore
Due: none

style: exclude svg files from prettier formatting
  .prettierignore
Due: none

fix(meta): update social metadata and screenshot assets
  .github/workflows/build.yaml
  docs/.vitepress/meta-tags.ts
  docs/public/images/meta-tags/page-view.png
  docs/public/manifest.json
  docs/public/manifest/desktop-home-screen-view.png
  docs/public/manifest/mobile-home-screen-view.png
  env-example
Due: npm run lint:js, npm run lint:files

fix(package): fix repository url scheme
  package.json
Due: none

Path conditions:
  npm run lint:js: any of: *.{js,ts,jsx,tsx}
  npm run lint:files: any of: *.{html,graphql,yml,yaml,vue}
  npm run lint:markdown: any of: *.md
