Repository krudi/vitepress-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:files, npm run lint:markdown

.lintstagedrc.yml:

"*.{js,ts,jsx,tsx}":
  - npm run lint:js
"*.{html,graphql,yml,yaml,vue}":
  - npm run lint:files
"*.md":
  - npm run lint:markdown

fix: change version of GitHub actions
  .github/workflows/build-node.yml
Due: npm run lint:files

fix: reorganize devDependencies in package.json
  package-lock.json
  package.json
Due: none

feat: add vite-plugin-pwa package
  .gitignore
  .markdownlintignore
  .vitepress/config.ts
  .vitepress/meta-tags-dynamic.ts
  .vitepress/meta-tags.ts
  .vitepress/pwa.ts
  .vitepress/shared.ts
  package-lock.json
  package.json
  public/manifest.webmanifest
  tsconfig.json
  vite-env.d.ts
  vite.config.mjs
Due: npm run lint:js

feat: add docs folder for the *.md files
  .eslintignore
  .gitignore
  .markdownlintignore
  docs/.vitepress/config.ts
  docs/.vitepress/index.md
  docs/.vitepress/locales/de.ts
  docs/.vitepress/locales/en.ts
  docs/.vitepress/meta-tags-dynamic.ts
  docs/.vitepress/meta-tags.ts
  docs/.vitepress/pwa.ts
  docs/.vitepress/shared.ts
  docs/de/guide/markdown-examples.md
  docs/de/index.md
  docs/guide/markdown-examples.md
  tsconfig.json
  vite.config.mjs
Due: npm run lint:js, npm run lint:markdown

fix: remove vitepress-sidebar package
  docs/.vitepress/locales/de.ts
  docs/.vitepress/locales/en.ts
  docs/index.md
  package-lock.json
  package.json
Due: npm run lint:js, npm run lint:markdown

fix: add missing search translations
  docs/.vitepress/locales/de.ts
  docs/.vitepress/locales/en.ts
Due: npm run lint:js

feat: allow Vite serving outside of Vite configuration
  docs/.vitepress/meta-tags.ts
  vite.config.mjs
Due: npm run lint:js

fix: move public files to docs directory
  docs/public/_headers
  docs/public/favicons/vite-144x144.svg
  docs/public/favicons/vite-16x16.svg
  docs/public/favicons/vite-192x192.svg
  docs/public/favicons/vite-32x32.svg
  docs/public/favicons/vite-48x48.svg
  docs/public/favicons/vite-512x512.svg
  docs/public/favicons/vite-apple-touch.svg
  docs/public/favicons/vite-favicon.svg
  docs/public/fonts/.gitkeep
  docs/public/images/meta-tags/general/logo.svg
  docs/public/images/meta-tags/page-view.webp
  docs/public/manifest/desktop-home-screen-view.webp
  docs/public/manifest/mobile-home-screen-view.webp
  docs/public/robots.txt
Due: none

feat: add precheck stage for code linting
  .github/workflows/precheck-docs-lint.yml
Due: npm run lint:files

feat: reorganize issue templates for better clarity and usability
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
Due: npm run lint:files, npm run lint:markdown

fix: rename build workflow file
  .github/workflows/build-frontend.yml
Due: npm run lint:files

refactor: move documentation files to the project root
  CONTRIBUTING.md
  SECURITY.md
Due: npm run lint:markdown

fix: adjust dependabot and refactor ci job filename
  .github/dependabot.yml
  .github/workflows/prepare-docs-lint.yml
Due: npm run lint:files

fix: remove unnecessary additional information
  package.json
Due: none

fix: update tsconfig path configuration
  tsconfig.json
  vite.config.mjs
Due: none

fix: update seo meta-tags
  docs/.vitepress/meta-tags-dynamic.ts
  docs/.vitepress/meta-tags.ts
  docs/de/guide/markdown-examples.md
  docs/de/index.md
  docs/guide/markdown-examples.md
  docs/index.md
Due: npm run lint:js, npm run lint:markdown

fix: reorganize Prettier configuration
  .prettierrc.yml
  prettier.config.mjs
Due: npm run lint:files

feat: migrate ESLint configuration to flat config format
  .eslintignore
  .eslintrc.yml
  eslint.config.mjs
Due: npm run lint:files

chore(deps): upgrade all npm packages to latest versions
  package-lock.json
  package.json
Due: none

refactor: reformat and update export syntax in configuration
  prettier.config.mjs
Due: none

refactor: enhance ESLint rules and settings
  eslint.config.mjs
Due: none

feat: add new ESLint plugins to extend linting capabilitie
  package-lock.json
  package.json
Due: none

chore: add caret (^) to dependency versions for automatic updates
  package.json
Due: none

feat: update npm scripts for code linting and formatting
  .markdownlintignore
  .prettierignore
  package.json
Due: none

docs: adjust contributing guidelines and link reference
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: npm run lint:files, npm run lint:markdown

fix: modify Prettier config to fix whitespace issues
  prettier.config.mjs
Due: none

style(prettier): run Prettier to clean up code formatting
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/workflows/build-frontend.yml
  .github/workflows/prepare-docs-lint.yml
  .markdownlint.yml
  .vscode/extensions.json
  .vscode/settings.json
  docs/.vitepress/config.ts
  docs/.vitepress/locales/de.ts
  docs/.vitepress/locales/en.ts
  docs/.vitepress/meta-tags.ts
  docs/.vitepress/pwa.ts
  docs/.vitepress/shared.ts
  package-lock.json
  package.json
  tsconfig.json
Due: npm run lint:js, npm run lint:files

fix: update viewport settings to allow maximum scaling
  docs/.vitepress/meta-tags.ts
Due: npm run lint:js

build(deps): update required and dev dependencies
  package-lock.json
  package.json
Due: none

feat: replace vite-plugin-pwa with standard manifest icons
  docs/.vitepress/config.ts
  docs/.vitepress/meta-tags.ts
  docs/.vitepress/pwa.ts
  docs/.vitepress/shared.ts
  docs/public/manifest.json
  package-lock.json
  package.json
  tsconfig.json
Due: npm run lint:js

feat: replace vite-plugin-pwa with standard manifest icons
  docs/.vitepress/config.ts
  docs/.vitepress/meta-tags-dynamic.ts
  docs/.vitepress/shared.ts
  docs/types/Frontmatter.d.ts
  docs/types/index.d.ts
  eslint.config.mjs
  tsconfig.json
  vite.config.mjs
Due: npm run lint:js

feat: add dependabot group configuration
  .github/dependabot.yml
Due: npm run lint:files

fix: remove not used labels from PR of dependabot
  .github/dependabot.yml
Due: npm run lint:files

fix: remove not needed ESlint types package
  package-lock.json
  package.json
Due: none

chore(node): update Node.js to latest LTS version
  .github/workflows/build-frontend.yml
  .github/workflows/prepare-docs-lint.yml
  package.json
Due: npm run lint:files

chore: update copyright year in MIT License to 2025
  LICENSE
Due: none

chore(deps): adjust Dependabot config and align package.json dependencies
  .github/dependabot.yml
  package-lock.json
  package.json
Due: npm run lint:files

refactor(favicon assets): remove old SVG files and replace with PNGs; update manifest and HTML head for new favicon paths and sizes
  docs/.vitepress/meta-tags.ts
  docs/public/browserconfig.xml
  docs/public/favicons/android-icon-192x192.png
  docs/public/favicons/apple-icon-114x114.png
  docs/public/favicons/apple-icon-120x120.png
  docs/public/favicons/apple-icon-144x144.png
  docs/public/favicons/apple-icon-152x152.png
  docs/public/favicons/apple-icon-180x180.png
  docs/public/favicons/apple-icon-57x57.png
  docs/public/favicons/apple-icon-60x60.png
  docs/public/favicons/apple-icon-72x72.png
  docs/public/favicons/apple-icon-76x76.png
  docs/public/favicons/favicon-144x144.png
  docs/public/favicons/favicon-16x16.png
  docs/public/favicons/favicon-256x256.png
  docs/public/favicons/favicon-32x32.png
  docs/public/favicons/favicon-36x36.png
  docs/public/favicons/favicon-48x48.png
  docs/public/favicons/favicon-512x512.png
  docs/public/favicons/favicon-72x72.png
  docs/public/favicons/favicon-96x96.png
  docs/public/favicons/favicon.ico
  docs/public/favicons/ms-icon-144x144.png
  docs/public/favicons/ms-icon-150x150.png
  docs/public/favicons/ms-icon-310x310.png
  docs/public/favicons/ms-icon-70x70.png
  docs/public/favicons/vite-144x144.svg
  docs/public/favicons/vite-16x16.svg
  docs/public/favicons/vite-192x192.svg
  docs/public/favicons/vite-32x32.svg
  docs/public/favicons/vite-48x48.svg
  docs/public/favicons/vite-512x512.svg
  docs/public/favicons/vite-apple-touch.svg
  docs/public/favicons/vite-favicon.svg
  docs/public/manifest.json
Due: npm run lint:js

feat: update dependabot configuration and restore CONTRIBUTING and SECURITY documents
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/dependabot.yml
Due: npm run lint:files, npm run lint:markdown
